[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = gerritTest
[access "refs/*"]
	owner = group user/GuilhermeDPD
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/GuilhermeDPD
	label-Verified = -1..+1 group user/GuilhermeDPD
	push = group user/GuilhermeDPD
	read = group user/GuilhermeDPD
	rebase = group user/GuilhermeDPD
	removeReviewer = group user/GuilhermeDPD
	submit = group user/GuilhermeDPD
[access "refs/heads/*"]
	create = group user/GuilhermeDPD
	push = +force group user/GuilhermeDPD
	pushMerge = group user/GuilhermeDPD
	read = group user/GuilhermeDPD
[access "refs/tags/*"]
	push = group user/GuilhermeDPD
	push = +force group user/GuilhermeDPD
